#----------------------------------------------------------------------------------------------------
[data]
directorio_base = c:\tmp\bolsa
#----------------------------------------------------------------------------------------------------
[descargar]
# 00_descargar_datos
# 01_preparar_datos

PROCESAR = DE30,US500,US100,EU50,OIL.WTI,BRENT,EURUSD,WHEAT,SUGAR,IBEX35,SOYBEAN,GOLD,USDIDX,BUND10Y
# PROCESAR = DE30,US500
TIPOS = FX,CMD,IND
RESOLUCIONES = 1,30,60,D,W
#----------------------------------------------------------------------------------------------------
[calculo]
# 02_calculo_mejor_valor
# 03_calculo_Soportes_Resistencias
# 04_graficar-valores-medias
# 04_graficar-valores
# 07_graficar_maximos_minimos
# 08_graficar-valores-medias
# PROCESAR = DE30,US500,US100,EU50,OIL.WTI,BRENT,EURUSD,WHEAT,SUGAR,IBEX35,SOYBEAN,GOLD,USDIDX,BUND10Y
PROCESAR = DE30,US500,OIL.WTI,EURUSD
RESOLUCIONES = 1,30,60,D,W
TIPOS = FX,CMD,IND
CSV_RESULTADOS = si
#----------------------------------------------------------------------------------------------------
[hora]
# 03_calculo_mejor_hora
PROCESAR = DE30,US500,OIL.WTI,EURUSD
TIPOS = FX,CMD,IND
CSV_RESULTADOS = si
RESOLUCIONES = 60
#----------------------------------------------------------------------------------------------------
[resultados]
IMPRIMIR = si
CABECERA = no
#----------------------------------------------------------------------------------------------------
[operaciones]
SAR_PARABOLICO = no
MACD = no
SMA_SMA400 = no
EMA_SMA400 = no
SMA_SMA100 = no
EMA_SMA100 = no
SMA_SMA50 = no
EMA_SMA50 = no
SMA = si
EMA = no
MACD_SMA = no
